body,
p,
div,
dl,
dt,
dd,
span {
    padding   : 0;
    margin    : 0;
    border    : 0;
    box-sizing: border-box;
}

.bg-mask {
    background: rgba(255, 255, 255, .3)
}

.page {
    width           : 980px;
    max-width       : 100vw;
    height: 1372px;

    /* max-height   : 1000px; */
    box-shadow      : 0 1px 0 0 red inset;
    padding         : 64px 80px;
    margin          : 0 auto;

    background-color: rgba(255, 255, 255, .95);
    white-space     : normal;
}

@media screen and (max-width:1220px) {
    .page {
        background-color: rgba(255, 255, 255, .75);
        box-shadow      : 0 -1px 0 0 #d0d0d0 inset;
    }

    .bg-mask {
        background: rgba(255, 255, 255, .2)
    }
}

@media print {
    .page {
        /* 一张A4纸,210mm*297mm*/
        margin     : 0;
        width      : 210mm;
        height     : 296.35mm;
        line-height: 170%;

        
        padding    : 48px 60px;
        position   : relative;
        overflow   : hidden;
        font-size: 12px;

    }

    .page::before {
        content         : '';
        position        : absolute;
        inset           : 0;
        padding         : inherit;
        background-clip : content-box;
        background-color: rgba(53, 43, 43, 0.522);
        /* z-index      : -1; */
    }

    body>*:not(#app) {
        display: none;
    }
}