@ui-prefix: ax-;

@primary-color: #2d8cf0;
@info-color   : #2db7f5;
@warning-color: #ff9900;
@success-color: #19be6b;
@error-color  : #ed4014;
@mute-color   : #c5c8ce;
@default-color: #515a6e;

@hover-lighten    : 18%;
@disabled-lighten : 30%;
@active-lighten   : -2%;

@active-shadow  : 0 0 .5em 2px #abc;
@transition-time: .3s;

@time-line-point-width: .25em;

/* 
    
    button按钮去掉了 size： 跟随font-size
    去掉了设置标签类型，直接继承button的type属性，设置按钮类型为submit，reset或button
    去掉了ghost，和buttonStyle为light时的效果一样
    长按钮用long，但真的有必要设置这个属性吗？？

    // to、replace、target、append  --- > a  link路由跳转
    // buttonsGroup（只需支持，shape+style ）

    icon:
    // type
    // custom 自定义（合并到type）
    // theme（实心，虚线，ios，md……）只有部分图标有实线风格，或双色风格。双色风格并不是传入两个颜色，其实是stroke的颜色，生成半透明的fill颜色
    // two-color 要做吗？
    // spin 旋转？ rotate 角度
*/







// v-full指令